.ng-cloak {
    display: none;
}
.nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-request {
    /*float: right;*/
}
.flush-top {
    margin-top: 0px;
}

h3 {
    margin-top: 28px;
}

.method {
    border: 1px solid darkgray;
    background-color: lightgray;
    color: black;
    position: relative;
    padding: 3px 10px;
    padding-left: 60px;
}
.method span {
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    color: #fff;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
}

.method.post {
    border: 1px solid #c3e8d1;
    background-color: #e7f6ec;
}

.method.post span {
    background-color: #10a54a;
}

.method.put {
    border: 1px solid #f0e0ca;
    background-color: #f9f2e9;
}

.method.put span {
    background-color: #c5862b;
}

.method.get {
    border: 1px solid #c3d9ec;
    background-color: #e7f0f7;
}

.method.get span {
    background-color: #0f6ab4;
}

.method.delete {
    border: 1px solid #e8c6c7;
    background-color: #f5e8e8;
}

.method.delete span {
    background-color: #a41e22;
}


.form-param {
    display: inline-block;
    width: 175px;
    font-size: 12px;
    height: 24px;
    color: black;
    background-color:rgba(255,255,255,0.7);
}

.the-request {
    background-color: #e2f5f9;
    padding: 5px 20px;
}
.handler {
    float: right;
    font-size: 16px;
    line-height: 68px;
}
pre#response {
    max-height: 500px;
}

.api-nav {
    margin-bottom: 0px;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin-bottom: 30px;
    min-height: 215px;
}
.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}

.array-input {
    margin-bottom: 2px;
}